body {
  background-color: #6dccfc;
  color: black;
  max-width: max-content;
  margin: auto;
}
.vertical-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
h1.vertical-container {
  font-size: 150%;
}
.UI {
  font-size: 200%
}
.Airplane {
  width: 200px;
  margin: auto;
}
/* Individual Passenger Sprites */
.Pax,
.Crew {
  float: left;
  width: 65px;
  height: 75px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(184, 184, 184);
  text-align: center;
  word-wrap: break-word;
}
.Adult{
  background: rgb(44, 44, 255);
}
.Adult::after{
  content: "Adult";
}
.Child{
  background: rgb(83, 251, 97);
}
.Child::after{
  content: "Child";
}
.AdultInfant{
  background: rgb(138, 117, 255);
}
.AdultInfant::after{
  content: "Adult+Inft";
}
.WAM{
  background: rgb(251, 251, 83);
}
.NotInLimits{
  background: rgb(255, 0, 0);
}
.InLimits{
  background: rgb(43, 255, 0);
}
.flex-container {
  display: flex;
  flex-direction: column;
}