:root {
  --markerHeight: 8px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* =========== Navbar =========== */
.version-div {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  z-index: 2; /* Ensures it's displayed in front */
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/* =========== Navbar =========== */
div.range {
  height: 150px;
  width: 20px;
  background-color: rgb(76, 76, 58);
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: var(--markerHeight) solid transparent;
  border-bottom: var(--markerHeight) solid transparent;
  border-left: var(--markerHeight) solid green;
}
body {
  background: #333;
  background-color: #333;
  color: black;
}
body {
  margin: 0 auto !important;
  padding: 0px !important;
  width: 100%;
}
.Header {
  margin: 0px !important;
  padding: 5px !important;
  width: 100%;
  background: rgb(0, 0, 0);
  color: rgb(99, 99, 99);
}
.Wide {
  margin: 0 auto !important;
  padding: 0px !important;
  width: 100%;
}
.Center {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.vertical-container {
  display: -webkit-flex;
  display: flex;
}
h1.vertical-container {
  font-size: 150%;
}
.UI {
  font-size: 200%;
}
.Airplane {
  margin: auto;
}
/* Individual Passenger Sprites */
.Pax,
.Crew {
  float: left;
  width: 65px;
  height: 75px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(184, 184, 184);
  text-align: center;
  word-wrap: break-word;
}
.Adult {
  background: rgb(59, 59, 170);
}
.Adult::after {
  content: "Adult";
}
.Child {
  background: rgb(83, 251, 97);
}
.Child::after {
  content: "Child";
}
.AdultInfant {
  background: rgb(138, 117, 255);
}
.AdultInfant::after {
  content: "Adult+Inft";
}
.WAM {
  background: rgb(34, 34, 34);
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
}
.NotInLimits {
  background: rgb(255, 0, 0);
}
.InLimits {
  background: rgb(43, 255, 0);
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-child {
  flex: 1;
}
/* For Column Layouts */
* {
  box-sizing: border-box;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 10px;
}
.menu {
  position: absolute;
  width: 100%;
  z-index: 100;
}
.screen {
  position: relative;
}
.Fuel {
  color: grey;
}
.Selected {
  border: rgb(43, 255, 0);
}
